{% extends 'index.html' %}
{% block titulopagina %}Blogs{% endblock titulopagina %}

{% block postcontenido %}
    {% block iniciolink %}noactive{% endblock iniciolink %}
    {% block bloglink %}active{% endblock bloglink %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Post Recientes</h4>
                <h2>Nuestros mas recientes posts</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 search">
          <form method="get">
              <div id="custom-search-input">
                <div class="input-group col-md-12">
                  <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                  <span class="input-group-list">
                    <i class="icon icon-search"></i>
                    <button type="submit" class="boton btn-success" style="height: 39px" onmouseover="this.style.cursor='pointer'">Buscar</button>
                  </span>
              </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Banner Ends Here -->

    
      
    {% for publicacion in post %}

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="all-blog-posts">
              <div class="row d-flex flex-wrap">
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src=" {{publicacion.imagen.url}} " alt="Imagen de {{ publicacion.titulo }}">
                    </div>
                    <div class="down-content">
                      <span>{{publicacion.subtitulo}}</span>
                    
                      <a href="{% url 'detpost' publicacion.id  %}"><h4>{{publicacion.titulo}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{publicacion.autor}}</a></li>
                        <li><a href="#">{{publicacion.now}}</a></li>
                        <li><a href="#">12 Comments</a></li>
                      </ul>

                      
                      <p>{{publicacion.informacion}}</p>
                      {% if request.user.is_authenticated %}
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><a class='btn btn-outline-success' href="{% url 'editarPost' publicacion.id %}">Editar</a></li>
                              <li><a class='btn btn-outline-danger' href="{% url 'eliminarPost' publicacion.id %}">Eliminar</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="post-details.html">
                          <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                          <span>May 31, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                          <span>May 28, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                          <span>May 14, 2020</span>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </section>
    {% endfor %}

    <div class="col-lg-12">
      <ul class="page-numbers">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
      </ul>
    </div>

{% endblock postcontenido %}