{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">

    <title>{% block titulopagina %}OTAKUMI{% endblock titulopagina %}</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Css archivos adicionales -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

    

  </head>

  <body>

    <!-- ***** Preloader  ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader  ***** -->

    <!-- Cabecera -->

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'inicio' %}"><h2 class="text-white">Otakumi<em>+</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item {% block iniciolink %}active{% endblock iniciolink %}">
                <a class="nav-link" href="{% url 'inicio' %}">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item {% block bloglink %}{% endblock bloglink %}">
                <a class="nav-link text-white" href="{% url 'blog' %}">Blogs</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item {% block crearpostlink %}{% endblock crearpostlink %}">
                  <a class="nav-link text-white" href="{% url 'crearpost' %}">Crear Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white btn bg-warning" href="{% url 'salir' %}">Cerrar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">{{ user.username }}</a>
                </li>
              
              {% else %}
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'registro' %}">Registrate</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenido de Pagina -->
  
    <div class="main-banner header-text">
      <div class="container-fluid">
       
      </div>
    </div>


    {% block postcontenido %}
    {% for publicacion in post %}
    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-8 mx-auto col-md-8 col-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img id="imgs-conf" src="{{publicacion.imagen.url}}" alt="Imagen de {{publicacion.titulo}}">
                    </div>
                    <div class="down-content">
                      <span>{{publicacion.subtitulo}}</span>
                      <a href="post-details.html"><h4 >{{publicacion.titulo}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{publicacion.autor}}</a></li>
                        <li><a href="#">{{publicacion.now}} </a></li>
                        <li><a href="#">12 Comments</a></li>
                      </ul>
                      <p>{{publicacion.informacion}}</p>
                      {% comment %} <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">Contact TemplateMo</a> {% endcomment %}
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><a href="{% url 'blog' %}">Anime</a>,</li>
                              <li><a href="{% url 'blog' %}">Otakumi</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12 mx-auto">
                  <div class="main-button">
                    <a href="{% url 'blog' %}">Ver Todos los Post</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="col-12">
      {% if messages %}
        {% for m in messages  %}
          
        {% endfor %}
      {% endif %}
    </div>
    {% endfor %}
    
    {% endblock postcontenido %}
    
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Trabajo Corporativo
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>